body {
    font-family: "Georgia", "Times New Roman", serif;
    text-align: center;
    margin: 0 auto;
}

main {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

hr {
    background-color: yellow;
    height: 1px;
    border: none;
}

h2 {
   font-weight: 500;
}

video {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1.5em;
}

#logo {
    width: 30%;
    max-width: 300px;
    margin-bottom: 1em;
}

#logo-text {
    color: rgba(0 64 64/ 0.9);
    margin-top: 1.5em;
}

#video-section {
    margin-top: 6em;
}

#video-section p{
    text-align: left;
}

.source {
    text-align: center;
    color: grey;
    display: inline;
}

.source a {
    color: grey;
}

.feature-box {
    text-align: left;
    padding-left: 1.5em;
    margin: 2.5em 0;
    border-left: 1px solid yellow;
}

.feature-box p {
    color: #c04000;
}

.feature-box a p{
    color: #006666;
}

#recipe-section {
    margin-top: 3em;
    text-align: left;
}

#recipe-section hr{
    background-color: lightblue;
    height: 1px;
    border: none;
}

.metodo div {
    padding-left: 3em;
}

footer {
    margin: auto;
    width: 50%;
}

footer p {
    text-align: left;
}

footer a{
    color: #006666;
}